/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.layout-sidebar{
    width: 240px;
    height: 100%;
    position: fixed;
    left: -180px;
    /* top: 0; */
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 999;
    background-color: #ffffff;
    box-sizing: border-box;
    transition: left 0.3s;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
    overflow: auto;
    overflow-x: hidden;
}
.layout-main{
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    transition: margin-left 0.3s;
    box-sizing: border-box;
}